#main {
    height: 600px;
    width: 1000px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    border-radius: 3px;
    border: 2px solid black;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: silver 0px 10px 10px 35px;
}

.a {
    background: silver;
    height: 190px;
    width: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    flex-wrap: wrap;

}

.b {
    background: silver;
    height: 190px;
    width: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    flex-wrap: wrap;
    margin-bottom: 10px;


}

#cde {
    height: 190px;
    width: 740px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    column-gap: 10px;
    row-gap: 10px;
    border-radius: 3px;
    flex-wrap: wrap;
    align-items: flex-start;

}
.c {
    background: silver;
    height: 190px;
    width: 240px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;


}
.d {
    background: silver;
    height: 190px;
    width: 240px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.e {
    background: silver;
    height: 190px;
    width: 240px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.f {
    background: silver;
    height: 390px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}