#container
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 50px;
    margin: auto;
}
.header {
    width: 1000px;
    height: 200px;
    background: orange;
    margin: 5px;
}
.middle {
    display: flex;
    flex-direction: row;
}
.menu {
    box-sizing: border-box;
    width: 200px;
    height: 600px;
    background: #dc6320;
    margin: 5px;
    }
.post {
    width: 800px;
    height: 300px;
    background: antiquewhite;
    flex-direction: column;
    margin: 5px;
}
.footer {
    width: 1000px;
    height: 200px;
    background: orange;
    margin: 5px;
}
