* {
    row-gap: 5px;
    column-gap: 5px;
    margin: 0;
}
p {
    color: red;
}
#container
{
    max-width:1000px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}
.bgr_gray {
    background-color: #686868;
}
.top
{
    display: flex;
    width: 100%;
}
.main {
    display: flex;
    width: 100%;
}
.left   {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.right  {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.middle {
    display: flex;
    flex-direction: column;
    width:60%;
}
.logo {
    width: 20%;
    height: 100px;
}
.smallblock {
    height: 100px;
}
.smallblock2 {;
    height: 100px;
}
}
.smallblockmob {
    display: flex;
    width: 100%;
}
.header {
    width: 80%;
    height: 100px;
}
.navprod {
    height: 800px;
}
.bath {
    height: 205px;
}
.ad {
    height: 205px;
}
.tofb {
    height: 800px;
}
.footer {
    width: 100%;
    height: 200px;
}
@media screen and (min-width:900px) {
    .smallblockmob {
        display: none;
    }
}
@media screen and (min-width:0px) and (max-width: 900px) {
    .logo {width: 30%; }
    .header {width: 70%; }
    .navprod {width: 100%; height: 100px;}
    .left {width:100%;display;}
    .smallblock {display: none}

}