#container {
    width: 1100px;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 5px;
    text-align: center;
    font-size: 50px;
    line-height: 250px;
}
.a {
    background: silver;
    width: 1015px;
    height: 300px;
}
.footer {
    display: flex;
    column-gap: 5px;
}
.bcd-box {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    row-gap: 5px;
}
.bcd {
    background: #6496ec;
    width: 250px;
    height: 250px;
}
.efg-box {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.efg {
    background: aquamarine;
    width: 250px;
    height: 250px;
}
.bbox {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.h {
    background: #ff3f3f;
    width: 250px;
    height: 505px;
}